.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.inactive {
  composes: text_color_inactive from global;
}

.active {
  composes: text_color_primary from global;
}