.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 180px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 480px;
}

.link {
  margin-left: 5px;
  text-decoration: none;
  color: #4C4CFF;
}

.button {
  display: flex;
  align-items: center;
  align-self: center;
}

.loader-container {
  width: 20px;
  height: 20px;
}