.total-contaier {
  display: flex;
  align-items: center;
  align-self: flex-end;
}

.total {
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
}

.loader-container {
  width: 20px;
  height: 20px;
}