.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.image {
  width: 100%;
}

.price {
  display: flex;
  align-items: center;
}

.title {
  text-align: center;
}