.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: var(--container-width);
}

.link {
  composes: text_color_primary from global;
  text-decoration: none;
}